<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
  </head>
  <body>
    <div>
      <li><a href="">Home</a></li>
      <li><a href="pievienosana">Pievienošana</a></li>
      <li><a href="parskats">Pārskats</a></li>
      <li><a href="login">Autorizācija</a></li>
      <li><a href="logout">Iziet</a></li>
    </div>
    <h2>Register</h2>
    {% with messages = get_flashed_messages() %} {% if messages %}
    <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %}
    <form method="POST">
      <label for="username">Username:</label><br />
      <input type="text" id="username" name="username" /><br />
      <label for="password">Password:</label><br />
      <input type="password" id="password" name="password" /><br /><br />
      <input type="submit" value="Submit" />
    </form>
    <p>
      Already have an account? <a href="{{ url_for('login') }}">Login here</a>
    </p>
  </body>
</html>
